<h2>Welcome To API</h2>

<%# if current_user.present? %>
	<!-- <a class="btn btn-danger" href="#"><%#= link_to "Logout", destroy_user_session_path, method: :delete %></a> -->
<%# else %>
	<!-- <a class="btn btn-danger" href="#"><%#= link_to "Sign up", new_user_registration_path %></a> -->
<%# end %>