<h1 class="text-center">New Applied Job</h1><br/>

<%= render 'form', applied_job: @applied_job %>

<%= link_to 'Back', applied_jobs_path , :class => "btn btn--blue btn--stroke btn--stroke--2 px24 py12 txt-s round-full px36"%>
